@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grdt {
  color: transparent;
  -webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(#FCB045, #FF3F78);
  font-weight: 900;
}